<h1>Welcome to <%= @user.stage_name %>'s Profile</h1>
  <div class='tv'>
    <iframe width="640" height="510" src="//www.youtube.com/embed/5d7aruKYkKs" frameborder="0" allowfullscreen></iframe>
  </div>
  <button>Tip the Hat!</button>

  <div class='profile_image'>
    <img src= <%= @user.profile_image_url %> />
  </div>

  <div class='genre'>
    <p><%= @user.genre.capitalize %></p>
   </div>

  <div class='artist_info'>
    <h2>Hometown</h2>
    <p><%= @user.city %>, <%= @user.state %></p>
    <h3>Background Story</h3>
    <p><%= @user.story %></p>
  </div>

  <div class='contact'>
      <p> Twitter: <a href="http://www.twitter.com/<%= @user.twitter_handle%>">@<%= @user.twitter_handle %> </p>
  </div>