<h1>Welcome to <%= @user.stage_name %>'s Profile</h1>

  <% if may_edit_profile %>
    <div>
      <%= link_to "Edit Profile", edit_profile_path(@user) %>
    </div>
  <% end %>

  <div class='tv'>
    <%= raw(youtube_embed @user.highlight_youtube_url, 300, 500) %>
  </div>

  <button>Tip the Hat!</button>

  <%= render partial: 'profile_content' %>
  <%= render partial: 'posts/artist_posts' %>

