<div class="devise-form">
<div class="form-container">

<h2 class="devise-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "sign-up-form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-field"><%= f.email_field :email, :autofocus => true, placeholder: "Name" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-field"><%= f.password_field :password, :autocomplete => "off", placeholder: "Enter new password (if desired)" %></div>

  <div class="form-field"><%= f.password_field :password_confirmation, placeholder: "Current password" %></div>

  <div class="form-field"><%= f.password_field :current_password, placeholder: "Confirm current password" %></div>

  <div><%= f.submit "Update", class: "form-button" %></div>
<% end %>

<h3 class="devise-title">Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "form-button-danger" %></p>

<%= link_to "Back", :back %>

</div>
</div>
