<div class="profile-header">
  <div class="container">

    <table class="profile-table" cellspacing="0" cellpadding="0">
    <tr>
      <td class="image">
        <img src="https://s3.amazonaws.com/photos.angel.co/users/27035-medium_jpg?1302809822" height="125" width="125" />
      </td>
      <td class="user-info">
        <p class="user-name"><%= @user.stage_name %> <a class="twitter" href="http://www.twitter.com/<%= @user.twitter_handle%>">@<%= @user.twitter_handle %></a></p>
        <p class="user-city"><%= @user.city %>, <%= @user.state %></p>
        <p class="user-story"><%= @user.story %></p>
        <div class="tip-button">
        </div>
        <button class="tip-hat">Tip the Hat!</button>

      </td>
      <td class="user-score">
        <div class="hype-score">
          <p class="score-number">47</p>
          <p class="score-text">HYPE SCORE</p>
        </div>
      </td>
    </tr>
    </table>
  </div>
</div>