<div class="profile-header">
  <div class="container">

    <table class="profile-table" cellspacing="0" cellpadding="0">
    <tr>
      <td class="image">

        <img src="<%= @user.profile_image_url if @user.profile_image_url%>" height="125" width="125" />
      </td>
      <td class="user-info">
        <p class="user-name"><%= @user.stage_name %> <a class="twitter" href="http://www.twitter.com/<%= @user.twitter_handle%>">@<%= @user.twitter_handle  %></a></p>
        <p class="user-city"><%= @user.city %>, <%= @user.state %></p>
        <p class="user-story"><%= @user.story %></p>
        <% unless may_edit_profile %>
          <div class="tip-hat" data-id="<%= @user.id %>"></div>
        <% end %>
        <span class="fb-like">
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fguarded-journey-5941.herokuapp.com%2Fusers%2F<%= @user.id %>&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=265059916990245" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
        </span>
      </td>
      <td class="user-score">
        <div class="hype-score">
          <p class="score-number"><%= @user.get_hype_score %></p>
          <p class="score-text">HYPE SCORE</p>
        </div>
      </td>
    </tr>
    </table>
  </div>
</div>