<div class="devise-form">
<div class="form-container">
<h2 class="devise-title">Edit Profile</h1>
  <%= form_for @user do |f| %>
    <div class="form-field"><%= f.text_field :stage_name, :value => @user.stage_name, placeholder: "Stage Name" %> *</div>

    <div class="form-field"><%= f.text_field :tagline, placeholder: "Tagline" %> *</div>

    <div class="form-field"><%= f.text_field :featured_youtube_url, placeholder: "YouTube URL" %> *</div>

    <div class="form-field">* <%= f.select :category, %w(vocal instrumental dance acrobatic visual comedy) %></div>

    <div class="form-field"><%= f.text_field :city, placeholder: "City" %></div>

    <div class="form-field"><%= f.text_field :state, placeholder: "State" %></div>

    <div class="form-field"><%= f.text_field :story, placeholder: "Story" %></div>

    <div class="form-field"><%= f.text_field :twitter_handle, placeholder: "Twitter Handle" %></div>
    <div>* Field required</div><br/>
    <div><%= f.submit "Update Profile Information", class: "form-button" %></div>
    <% end %>

</div>
</div>

vocal instrumental dance acrobatic visual comedy