<div class="container">
<h1>Edit <%= @user.stage_name %>'s Profile</h1>
  <%= form_for [ @user] do |f| %>
    <%= f.label :stage_name %>
    <p><%= f.text_field :stage_name, :value => @user.stage_name %></p>

    <%= f.label :tagline %>
    <p><%= f.text_field :tagline %></p>

    <%= f.label :featured_youtube_url %>
    <p><%= f.text_field :featured_youtube_url %></p>

    <%= f.label :city %>
    <p><%= f.text_field :city %></p>

    <%= f.label :state %>
    <p><%= f.text_field :state %></p>

    <%= f.label :story %>
    <p><%= f.text_field :story %></p>

    <%= f.label :twitter_handle %>
    <p><%= f.text_field :twitter_handle %></p>

    <p><%= f.submit "update user", class: "submit" %></p>
    <% end %>
    <%= button_to "Delete Profile", { action: "destroy", id: @user.id },
    method: :delete, data: { confirm: "Are you sure? You will no longer be a user" } %>
</div>
