<%= render partial: 'users/profile_header' %>

<div class="profile-tabs">
  <div class="container">
    <span class="tab"> <%= link_to "Featured Video", user_path(@user) %> </span>
    <span class="tab"> <%= link_to "More Videos", "#", remote: true, id: "more-videos" %> </span>
    <span class="tab"> <%= link_to "More Information", '#', remote:true, id: "more-info" %> </span>
    <% #if may_edit_profile %>
      <span class="tab tab-last"> <%= link_to "Manage Profile", '#', remote:true, id: "manage-profile" %> </span>
    <% #end %>
  </div>
</div>

<div class="profile-content">
    <div class="container">


      <%= render partial: 'users/featured_video' %>
      <%= render partial: 'posts/artist_posts' %>
      <%= render partial: 'users/artist_info' %>
      <%= render partial: 'users/manage_profile' %>



    </div>
</div>



