<%= render partial: 'users/profile_header' %>
<!--     <button class="btn btn-primary btn-lg" data-toggle="modal" id="new_post_button">
  Create Post
</button> -->
<div class="profile-tabs">
  <div class="container">
    <span class="tab"> <%= link_to "Videos", show_user_posts_path , remote: true, id: "show-posts" %> </span>
    <span class="tab tab"> <%= link_to "About #{@user.stage_name}", show_user_info_path(:user => @user), remote:true, id: "more-info"%> </span>
    <span class="tab tab-last"> <a href="#", id="new_post_button">Create Post</a> </span>

  </div>
</div>

<div class="profile-content">
  <div class="container display-profile-tab">
    <%= render partial: 'users/featured_video' %>
    <%= render partial: 'posts/artist_posts' %>
  </div>
</div>

<%= render partial: "new_post_modal" %>



