<div class="devise-form">
  <div class="form-container">
    <div class="field-holder">

      <h1 class="devise-title">Sign in</h1>
        <ul>
          <% if flash[:alert] %>
            <li><%= content_tag(:div, flash[:alert], :id => "flash_alert") %> </li>
          <% end %>
        </ul>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-field"><%= f.email_field :email, :autofocus => true, placeholder: "E-Mail Address" %></div>

      <div class="form-field"><%= f.password_field :password, placeholder: "Password" %></div>

      <% if devise_mapping.rememberable? -%>
      <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in", class: "success-button signin-button" %></div>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <span class="forgot-pass"><%= link_to "Forgot your password?", new_password_path(resource_name) %></span>
      <% end -%>
    </div>


      <div class="line-holder">
        <p class="or-fb"><span class="line-center">OR</span></p>
      </div>
    <div class="field-holder">

      <%= link_to image_tag('fblogin.png', class: "fbbutton"), user_omniauth_authorize_path(:facebook) %>

    </div>
  </div>
</div>

