<%= form_for [current_user, Post.new], remote: true do |f| %>
  <div class="form-field">
    <%= f.text_field :title, placeholder: "Title", :required => true %>
  </div>
  <div class="form-field">
    <%= f.text_field :youtube_url, placeholder: "YouTube URL", :required => true %>
  </div>
  <div class="form-field">
    <%= f.text_area :description, :cols => "40", :rows => "5", placeholder: "Description", :required => true %>
  </div>
    <%= f.submit :id => "create-post-button", class: "success-button" %>

<% end %>