<div class="profile-post-card" data-id="<%= post.id %> " data-embed="<%= post.post_youtube_url %>">
  <%= image_tag post.thumbnail_url %>
  <div class="profile-artist-name">
    <%= post.user.stage_name %>
  </div>
  <div class="profile-post-title">
    <%= post.title %>
  </div>
</div>