<a class="menu-link" href="#menu">Menu</a>

<nav id="menu" class="menu">
  <ul class="nav-items">
   <li>
      <%= link_to image_tag("Hattip_Finished.png", class: "logo"), root_path, id: "logo-link" %>
    </li>
    <li>
      <%= form_for :post, :html => { :class => "search-form"} do |f| %>
        <img class="search-icon" src="http://png-4.findicons.com/files/icons/1389/g5_system/32/toolbar_find.png"/><%= search_field(:post, :title, placeholder: "Search Performances", class: "search rounded")  %>
      <% end %>
    </li>
  <% if current_user %>
    <li class="has-submenu pull-right pull-right-last">
      <%= link_to current_user.stage_name , root_path %>
      <ul class="sub-menu">
         <li><%= link_to "Edit Profile Information", edit_user_path(current_user) %></li>
         <li><%= link_to "Account Settings", edit_user_registration_path(current_user) %></li>
         <li><%= link_to "Sign Out", destroy_user_session_path %></li>
      </ul>
    </li>
  <% else %>
    <li class="pull-right pull-right-last"><%= link_to "Sign Up", new_user_registration_path %></li>
    <li class="pull-right"><%= link_to "Sign In", new_user_session_path %></li>
  <% end %>


      </ul>
</nav>



