<!DOCTYPE html>
<html>
<head>
  <title>Hatip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<<<<<<< HEAD
  <script src="http://responsivenavigation.net/library/js/modernizr-2.6.2.min.js"></script>
=======
  <//script src="http://responsivenavigation.net/library/js/modernizr-2.6.2.min.js"></script>

>>>>>>> autocomplete_the_best
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/navbar' %>
</head>
<body>
  <%= yield %>
</body>
</html>
