<!DOCTYPE html>
<html>
<head>
  <title>Hatip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/navbar' %>
</head>
<body>
  <%= yield %>
</body>
</html>
